
#app {
  min-height: 100%;
}

#main {
  min-height: 100%;
}

.flickable {
  position: relative;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.arrow {
  position: absolute;
  margin: 100px;
  height: 300px;
  width: 175px;
  left: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: -138px;
}
