#modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	font-size: 48pt;
	padding: 12pt;
	border-radius: 12pt;
	border-color: white;
	border-style: dashed;
	border-width: 4pt;
	text-align: center;
	z-index: 100;
}

.close-text {
  font-size: 20pt;
  color: lightgray;
}