.stretch {height: 100%}

.movableIcon {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.movableIcon img {
  padding: 0;
  width: 64px;
}

.createdIcon{
  position: absolute;
  top: 0px;
  left: 32px;
  width: 128px;
}

.menu {
  border-top: 0;
}

#overhead {
  position: relative;
  top: 42px;
}