html, body {
  background-color: #222222;
  overflow: hidden;
  height: 100%;
  padding: 18pt;

  font-size: 48pt;
}

#app {
  min-height: 100%;
}

#allWords {
  color: white;
  width: 100%;
}

.directive {
  text-align: center;
  font-size: 60pt;
}

.wordHolder {
  display: block;
  background-color: #555555;
  border: 5px #555555 solid;
  border-radius: 10pt;
  width: 400pt;
  margin: 0 auto;
  margin-top: 10pt;
}

.word {
  z-index: 1;
  color: white;
  text-align: center;
  width: 400pt;
  position: absolute;
}

.holderActive {
  background-color: #888888;
  color: #888888;
  border: 5px white dashed;
}

.holderDropped {
  background-color: #888888;
  color: #888888;
  border: 5px white solid;
}

.wordActive {
  position: absolute;
  color: white;
  border: 5px #555555 solid;
  border-radius: 10pt;
}

.wordDropped {
  border: none;
}

.dim {
  opacity: 0.5;
}

#success {
  position: absolute;
  left: 10%;
  width: 80%;
  top: 50%;
  color: white;
  text-align: center;
}

#success button {
  visibility: visible;
  margin-left: 350pt;
  color: black;
  border-radius: 10pt;
}

.noshow {
  visibility: collapse;
}
